*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background: #DAA520;
    height: 1024px;
    width: 1440px;
    gap: 32px;
    padding: 32px;
}
.box1{
    width: 365px;
    height: 365px;
    border-radius: 12px;
    background: #297E40;
}
.box2{
    width: 365px;
    height: 365px;
    border-radius: 90px;
    opacity: 0.9;
    background: #8E2877;
}
.box3{
    width: 365px;
    height: 365px;
    border-radius: 20px;
    background: #361BA4;
}
